    <header class="ainno-navbar">
        <div class="container ainno-container">
            <nav class="navbar navbar-expand-lg py-3 px-0">
                <a class="navbar-brand ainno-logo" href="{{ '/' | relative_url }}">
                    <img src="{{ 'img/logo.png' | relative_url }}" alt="AINNO" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ainnoNav"
                    aria-controls="ainnoNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="ainnoNav">
                    <ul class="navbar-nav ms-auto align-items-lg-center">
                        {%- for menu in site.data.menus.header -%}
                        <li class="nav-item">
                            <a class="nav-link px-lg-3" href="{{ menu.link | relative_url }}">{{ menu.title }}</a>
                        </li>
                        {%- endfor -%}
                        <li class="nav-item mt-3 mt-lg-0 ms-lg-2">
                            <a class="ainno-btn ainno-btn-primary" href="{{ site.data.hero.nav_cta_link | relative_url }}">{{ site.data.hero.nav_cta_text }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


