<!-- Start call-centers-qa-section -->
<section class="marketing-section section-gap aquablue-bg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 marketing-left">
                <h1 id="garseja-audio-player-title" style="margin-top: 30px;">
                    {{ site.data.call-centers-qa.title }}
                </h1>
                <p id="garseja-audio-player-article" class="mw-510">
                    {{ site.data.call-centers-qa.description }}
                </p>
                <a href="{{ site.data.call-centers-qa.btn_link }}" class="genric-btn3">{{ site.data.call-centers-qa.btn_text }}</a>
            </div>
            <div class="col-lg-6 marketing-right">
                <!-- <div class="active-dash-carusel"> -->
                <div class="active-dash">
                    <img class="img-fluid item" src="{{ site.data.call-centers-qa.image_one | relative_url }}" alt="">
                    <!-- <img class="img-fluid item" src="{{ site.data.marketing.image_two | relative_url }}" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call-centers-qa-section -->