<!-- Start document-recognizer-section -->
<section class="marketing-section section-gap aquablue-bg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 marketing-left">
                <h1 style="margin-top: 30px;">
                    {{ site.data.document-recognizer.title }}
                </h1>
                <p class="mw-510">
                    {{ site.data.document-recognizer.description }}
                </p>
                <a href="{{ site.data.document-recognizer.btn_link }}" class="genric-btn3">{{ site.data.document-recognizer.btn_text }}</a>
            </div>
            <div class="col-lg-6 marketing-right">
                <!-- <div class="active-dash-carusel"> -->
                <div class="active-dash">
                    <img class="img-fluid item" src="{{ site.data.document-recognizer.image_one | relative_url }}" alt="">
                    <!-- <img class="img-fluid item" src="{{ site.data.marketing.image_two | relative_url }}" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End document-recognizer-section -->