<!-- Start read-alaud-section -->
<section class="marketing-section section-gap aquablue-bg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 marketing-left">
                <h1 style="margin-top: 30px;">
                    {{ site.data.read-alaud.title }}
                </h1>
                <p class="mw-510">
                    {{ site.data.read-alaud.description }}
                </p>
                <a href="{{ site.data.read-alaud.btn_link }}" class="genric-btn3">{{ site.data.read-alaud.btn_text }}</a>
            </div>
            <div class="col-lg-6 marketing-right">
                <!-- <div class="active-dash-carusel"> -->
                <div class="active-dash">
                    <img class="img-fluid item" src="{{ site.data.read-alaud.image_one | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End read-alaud-section -->